@charset "utf-8";
@font-face {
  font-family: "Pretendard";
  src: url(../webfont/PretendardVariable.woff2) format("woff2");
  font-weight: 100 900;
}
@font-face {
  font-family: "Rubik";
  src: url(../webfont/iJWKBXyIfDnIV7nBrXw.woff2) format("woff2");
  font-weight: 100 900;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
#wrap {
  max-width: 1920px;
  width: 95%;
  margin: 0 auto;
}
#wrap header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  line-height: 105px;
  z-index: 10;
}
#wrap nav {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: #fff;
}
#wrap nav > p {
  margin-right: auto;
  width: 103px;
}
#wrap nav > p img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#wrap nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
}

#wrap nav > ul.menu li a {
  font-family: "Rubik";
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 600;
}
#wrap nav > ul.right li:first-child a {
  background: #eaeaea;
  padding: 5px 10px;
  border-radius: 100px;
  font-family: "Rubik";
  font-size: 0.8vw;
  font-weight: 600;
}
#wrap nav .right {
  display: flex;
  align-items: center;
  gap: 40px;
}
#wrap nav .right li:nth-child(2) p {
  width: 35px;
}
#wrap nav .right li a img {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}
#wrap nav .right .ham-menu {
  display: none;
}
#wrap nav .right .ham-menu img {
  width: 31px;
  object-fit: cover;
}
/*swiper 시작 */
#wrap .visual {
  max-width: 1797px;
  width: 100%;
  padding-top: 120px;
  --swiper-navigation-size: 35px;
}
#wrap .visual .swiper {
  width: 100%;
}
#wrap .visual .swiper,
#wrap .visual .swiper-wrapper,
#wrap .visual .swiper-slide {
  height: 100%;
}
#wrap .visual .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  backface-visibility: hidden;
}
#wrap .visual .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  display: block;
}

#wrap .visual .swiper-slide h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: "Rubik";
  font-size: 3vw;
}

#wrap .visual .swiper-slide span {
  font-family: "Pretendard";
  font-size: 6vw;
  white-space: nowrap;
}

#wrap .visual .swiper-button-next::after,
#wrap .visual .swiper-button-prev::after {
  color: #fff;
}
#wrap .visual h1 {
  font-size: 3vw;
  text-align: center;
}
/*grid 시작*/
#wrap .content {
  max-width: 1797px;
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, 22vw);
  gap: 20px;
}
#wrap .content .item,
#wrap .content .item4 {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
#wrap .content .item h1 {
  position: absolute;
  top: 20px;
  left: 30px;
  color: #fff;
  font-family: "Rubik";
}
#wrap .content .item > a > img,
#wrap .content .item4 > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
#wrap .content .item:hover a > img {
  transform: scale(1.1);
}
#wrap .content .item:nth-child(2) {
  grid-column: 2 / span 2;
}
#wrap .content .item4 {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}
#wrap .content .item4 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-family: "Rubik";
  font-size: 7vw;
  line-height: 1.2;
}

#wrap .content .item:nth-child(5) .txt {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap .content .item:nth-child(5) .txt h3 {
  font-family: "Pretendard";
  font-size: 2.5vw;
  font-weight: 800;
}
#wrap .content .item:nth-child(5) .txt p:nth-of-type(1) {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}
#wrap .content .item:nth-child(5) .txt .num {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  background-color: #f5f5f5;
  border-radius: 25px;
  padding: 15px 70px;
  width: 1rem;
  height: 1rem;
}
#wrap .content .item:nth-child(5) .txt .num img {
  cursor: pointer;
}
#wrap .content .item:nth-child(5) .txt .num span {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 18px;
}
#wrap .content .item:nth-child(6) {
  grid-column: 4;
}
#wrap .content .item:nth-child(7) {
  grid-column: 3;
}
/*반응형구간*/
@media (max-width: 1450px) {
  #wrap nav > ul.menu li a {
    font-size: 1.3rem;
  }
}
@media (max-width: 1350px) {
  #wrap nav > ul.menu li a {
    font-size: 1.2rem;
  }
}
@media (max-width: 1260px) {
  #wrap nav > p {
    width: 74px;
    margin-right: 0;
  }
  #wrap nav .menu {
    gap: 30px;
  }
  #wrap nav > ul.menu li a {
    font-size: 1.1rem;
  }
  #wrap nav .right {
    gap: 20px;
  }
  #wrap nav .right li:nth-child(2) p {
    width: 25px;
  }
}
@media (max-width: 1150px) {
  #wrap nav .menu {
    gap: 30px;
  }
}
@media (max-width: 1020px) {
  #wrap nav > p {
    margin-left: 20px;
  }
  #wrap nav .menu,
  #wrap nav .right li:first-child,
  #wrap nav .right li:nth-child(2) {
    display: none;
  }
  #wrap nav .right {
    margin-left: auto;
  }
  #wrap nav .right .ham-menu {
    display: block;
  }
  #wrap .visual .swiper {
    display: none;
  }
}
@media (max-width: 760px) {
  #wrap header {
    line-height: 80px;
  }
}
@media (max-width: 500px) {
  #wrap nav .right .ham-menu img {
    width: 24px;
  }
}
