@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.wrap {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.wrap .top {
  width: 100%;
  height: 100vh;
  background: url(../images/삼다수_bg_W.png);
}
.wrap .top header {
  /* width: 190.5rem;
  height: 9rem;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border: 1px solid; */
  width: 90%;
  max-width: 155rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /* ✅ 핵심 */
  align-items: center;
  padding-top: 50px;
}
.wrap .top header .logo {
  width: 21.3rem;
  height: 4.2rem;
}
.wrap .top header .logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.wrap .top header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrap .top header .menu {
  display: flex;

  gap: 3rem;
}
.wrap .top header .menu a {
  font-size: 1.8rem;
  font-weight: 700;
}
.wrap .top header .menu > a::after {
  content: "▾";
  font-size: 1.4rem;
  margin-left: 0.3rem;
  vertical-align: middle;
}
.wrap .top header .menu_open {
  width: 3rem;
  height: 3rem;
}
.wrap .top header .menu_open a {
  display: block;
  width: 100%;
  height: 100%;
}
.wrap .top header .menu_open img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
