@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.wrap {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.wrap .top {
  position: fixed;
  width: 100%;
  height: 100px;
}
.wrap .top header {
  width: 90%;
  max-width: 155rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.wrap .top header .logo {
  width: 21.3rem;
  height: 4.2rem;
}
.wrap .top header .logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.wrap .top header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrap .top header .menu {
  display: flex;
  gap: 3rem;
}
.wrap .top header .menu a {
  font-size: 1.8rem;
  font-weight: 700;
}
.wrap .top header .menu a:hover {
  text-underline-offset: 1px;
  text-decoration: underline;
}
.wrap .top header .menu > a::after {
  content: "▾";
  font-size: 1.4rem;
  margin-left: 0.3rem;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
}
.wrap .top header .menu_open {
  width: 3rem;
  height: 3rem;
}
.wrap .top header .menu_open a {
  display: block;
  width: 100%;
  height: 100%;
}
.wrap .top header .menu_open img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.wrap section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../images/삼다수_bg_w.png);
}

.wrap section > div {
  display: flex;
  flex-direction: column;
}
.wrap section .txt {
  text-align: center;
  top: -110px;
  position: relative;
}
.wrap section .txt h3 {
  font-family: "DM Sans";
  font-size: 3rem;
  font-weight: 1000;
  letter-spacing: 2px;
  color: #0066ff;
}
.wrap section .txt p span {
  font-size: 1.8rem;
  font-weight: 200;
  color: #777;
}
.wrap section p.choice {
  position: relative;
  z-index: 2;
}
.wrap .water {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.wrap .water img {
  width: 232px;
}
