@charset "utf-8";
@font-face {
  font-family: "playfair Display";
  src: url(../webfont/PlayfairDisplay-VariableFont_wght.woff) format("woff");
  font-weight: 400 900;
  font-style: normal;
}
@font-face {
  font-family: "playfair Display";
  src: url(../webfont/PlayfairDisplay-Italic-VariableFont_wght.woff)
    format("woff");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "DMSerif Display";
  src: url(../webfont/DMSerifDisplay-Regular.woff) format("woff");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "DMSerif Display";
  src: url(../webfont/DMSerifDisplay-Italic.woff) format("woff");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Pretendard";
  src: url(../webfont/PretendardVariable.woff2) format("woff2");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "NotoSerif";
  src: url(../webfont/NotoSerifKR-VariableFont_wght.woff) format("woff");
  font-weight: 100 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  /* overflow-x: hidden; */
  background-color: #0b0f14;
  /* 전체 페이지 가로 스크롤 차단 */
}
.gnb-wrap {
  position: fixed;
  top: 3vw;
  right: 5%;
  z-index: 1000;
}
.gnb-wrap ul {
  display: flex;
  gap: 3vw;
  font-family: "DMSerif Display";
  font-style: italic;
  font-size: 1.3vw;
  color: #fff;
}

.menu-fixed {
  position: fixed;
  top: 3vw;
  right: 5%;
  z-index: 1000;
}

.menu-fixed ul {
  display: flex;
  gap: 3vw;
  font-family: "DMSerif Display";
  font-style: italic;
  font-size: 1.3vw;
  color: #fff;
}

.menu-fixed ul li {
  cursor: pointer;
}

#fullpage {
  max-width: 1920px;
  width: 95%;
  margin: 0 auto;
}
.landing {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
}

.landing .line {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
}

.landing .line.top {
  top: 40px;
  left: -1vw;
  right: -1vw;
  height: 1px;
}

.landing .line.bottom {
  bottom: 40px;
  left: -1vw;
  right: -1vw;
  height: 1px;
}

.landing .line.left {
  top: 40px;
  bottom: 40px;
  left: -1vw;
  width: 1px;
}

.landing .line.right {
  top: 40px;
  bottom: 40px;
  right: -1vw;
  width: 1px;
}

header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3vw;
  color: #fff;
}
header .top > p {
  font-family: "playfair Display";
  font-size: 1.5vw;
  color: #fff;
}

header .top > p {
  position: relative;
  padding-left: 2vw;
}

header .top > p::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #ff1c1c;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  animation: blink 0.8s ease-in-out infinite;
  box-shadow: 0 0 8px rgba(255, 30, 30, 0.8);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}
/* 기본 상태: 고정 X, 숨김 */
.gnb-wrap {
  transition: all 0.5s ease;
  opacity: 1;
}

/* 고정된 상태 */
.gnb-fixed {
  position: fixed;
  top: 30px; /* 원하는 고정 위치 */
  right: 5%;
  z-index: 2000;

  opacity: 0; /* 등장 애니메이션 */
  transform: translateY(-20px);
}

/* 등장 애니메이션 완료 상태 */
.gnb-fixed.show {
  opacity: 1;
  transform: translateY(0);
}

header .top .gnb-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

header .top nav ul {
  display: flex;
  gap: 3vw;
  font-family: "DMSerif Display";
  font-style: italic;
  font-size: 1.3vw;
}
header .top nav ul li {
  cursor: pointer;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "playfair Display";
}
.main p:nth-child(1) {
  font-size: 6vw;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 25px;
  text-decoration-color: rgba(255, 255, 255, 0.5);
}
.main p:nth-child(2) {
  display: flex;
  justify-content: center;
  padding-top: 1vw;
  font-family: "playfair Display";
  font-size: 1vw;
  color: #d3d3d3;
}
.landing_line {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.landing_line .ibox {
  position: absolute;
  width: 70px;
  height: 70px;
  border-color: rgba(255, 255, 255, 0.4);
  border-style: solid;
}

.landing_line .ibox.tl {
  border-width: 1px 0 0 1px;
  top: -200px;
  left: -500px;
}

.landing_line .ibox.tr {
  border-width: 1px 1px 0 0;
  top: -200px;
  left: 400px;
}

.landing_line .ibox.bl {
  border-width: 0 0 1px 1px;
  bottom: -200px;
  left: -500px;
}

.landing_line .ibox.br {
  border-width: 0 1px 1px 0;
  bottom: -200px;
  right: -470px;
}
/*landing 끝*/

.section01 {
  width: 90%;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  background-color: #0b0f14;
  position: relative;
}

.section01 .tit {
  position: relative;
  display: flex;
  justify-content: flex-start;
  color: #fff;
  font-family: "playfair Display";
  font-size: 3vw;
  padding-top: 3vw;
  letter-spacing: 2px;
}

/* 왼쪽 상단 */
.section01 .tit::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 3vw;
  width: 20px; /* 선 길이 */
  height: 20px;
  border-left: 1px solid;
  border-top: 3px solid;
}

/* 오른쪽 하단 */
.section01 .tit::after {
  content: "";
  position: absolute;
  left: 200px;
  bottom: -5px;
  width: 20px;
  height: 20px;
  border-right: 3px solid;
  border-bottom: 1px solid;
}
.section01 .img {
  border: 1px solid #fff;
  width: 200px;
  height: 250px;
  position: relative;
  top: 100px;
}
.section01 .contact {
  width: 15.5vw;
  position: relative;
  top: 15vh;
  left: 5px;
  color: #fff;
  font-family: "playfair Display";
  font-weight: 800;
  font-size: 1vw;
  letter-spacing: 1px;
  padding-bottom: 0.5vw;
  border-bottom: 1px solid #d9c27a;
}
.section01 .info {
  display: flex;
  flex-direction: column;
  gap: 0.7vw;
  position: relative;
  top: 190px;
  left: 5px;
  font-size: 0.8vw;
  color: #fff;
  font-family: "NotoSerif";
}
.section01 .info .name,
.section01 .info .birth {
  display: flex;
  gap: 3vw;
  position: relative;
  top: -2vw;
}

.section01 .info .email,
.section01 .info .phone {
  display: flex;
  gap: 2.5vw;
  position: relative;
  top: -2vw;
}

.section01 .keywords {
  width: 15.5vw;
  color: #fff;
  font-size: 1vw;
  font-family: "playfair Display";
  position: relative;
  top: 11vw;
  left: 5px;
  padding-bottom: 0.5vw;
  border-bottom: 1px solid #d9c27a;
}
.section01 .words1 {
  display: flex;
  gap: 1vw;
  position: relative;
  top: 12vw;
  left: 5px;
  color: #fff;
  font-size: 0.8vw;
}
.section01 .words2 {
  display: flex;
  gap: 1vw;
  position: relative;
  top: 12vw;
  left: 5px;
  color: #fff;
  font-size: 0.8vw;
}

.section01 .line {
  position: absolute;
  left: 30vw; /* 오른쪽 끝에 배치 */
  top: 12vw; /* 위에서 얼마나 띄울지 */
  width: 1px; /* 선 두께 */
  height: 70%; /* 세로 길이 */
  background: #cbb176;
}

.section01 ul {
  width: 90%;
  color: #fff;
  position: relative;
  left: 20vw;
  top: -10.5vw;
}
.section01 li {
  position: relative;
  left: 50px;
  top: 50px;
}
.section01 li .title {
  font-family: "playfair Display";
  font-size: 1.8vw;
  font-weight: 600;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  color: #0b0f14;
  display: inline-block;
  position: relative;
  top: -13vw;
  left: 15vw;
}
.section01 .detail1 li {
  font-family: "NotoSerif";
  color: #f5f5f5;
  position: relative;
  top: -2vw;
  left: -5vw;
}
.section01 li:nth-child(2) .title {
  position: relative;
  top: -20.8vw;
  left: 55vw;
}
.section01 .detail2 li {
  font-family: "NotoSerif";
  color: #f5f5f5;
  position: relative;
  top: -9.5vw;
  left: 35vw;
}
