@charset "utf-8";
@font-face {
  font-family: "playfair Display";
  src: url(../webfont/PlayfairDisplay-VariableFont_wght.woff) format("woff");
  font-weight: 400 900;
  font-style: normal;
}
@font-face {
  font-family: "playfair Display";
  src: url(../webfont/PlayfairDisplay-Italic-VariableFont_wght.woff)
    format("woff");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "DMSerif Display";
  src: url(../webfont/DMSerifDisplay-Regular.woff) format("woff");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "DMSerif Display";
  src: url(../webfont/DMSerifDisplay-Italic.woff) format("woff");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Pretendard";
  src: url(../webfont/PretendardVariable.woff2) format("woff2");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "NotoSerif";
  src: url(../webfont/NotoSerifKR-VariableFont_wght.woff) format("woff");
  font-weight: 100 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  /* overflow-x: hidden; */
  background-color: #0f0f10;
  /* 전체 페이지 가로 스크롤 차단 */
}
.gnb-wrap {
  position: fixed;
  top: 3vw;
  right: 5%;
  z-index: 1000;
}
.gnb-wrap ul {
  display: flex;
  gap: 3vw;
  font-family: "DMSerif Display";
  font-style: italic;
  font-size: 1.3vw;
  color: #fff;
}

.menu-fixed {
  position: fixed;
  top: 3vw;
  right: 5%;
  z-index: 1000;
}

.menu-fixed ul {
  display: flex;
  gap: 3vw;
  font-family: "DMSerif Display";
  font-style: italic;
  font-size: 1.3vw;
  color: #fff;
}

.menu-fixed ul li {
  cursor: pointer;
}

#fullpage {
  max-width: 1920px;
  width: 95%;
  margin: 0 auto;
}
.landing {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
}

.landing .line {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
}

.landing .line.top {
  top: 40px;
  left: -1vw;
  right: -1vw;
  height: 1px;
}

.landing .line.bottom {
  bottom: 40px;
  left: -1vw;
  right: -1vw;
  height: 1px;
}

.landing .line.left {
  top: 40px;
  bottom: 40px;
  left: -1vw;
  width: 1px;
}

.landing .line.right {
  top: 40px;
  bottom: 40px;
  right: -1vw;
  width: 1px;
}

header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3vw;
  color: #fff;
}
header .top > p {
  font-family: "playfair Display";
  font-size: 1.5vw;
  color: #fff;
}

header .top > p {
  position: relative;
  padding-left: 2vw;
}

header .top > p::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #ff1c1c;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  animation: blink 0.8s ease-in-out infinite;
  box-shadow: 0 0 8px rgba(255, 30, 30, 0.8);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}
/* 기본 상태: 고정 X, 숨김 */
.gnb-wrap {
  transition: all 0.5s ease;
  opacity: 1;
}

/* 고정된 상태 */
.gnb-fixed {
  position: fixed;
  top: 30px; /* 원하는 고정 위치 */
  right: 5%;
  z-index: 2000;

  opacity: 0; /* 등장 애니메이션 */
  transform: translateY(-20px);
}

/* 등장 애니메이션 완료 상태 */
.gnb-fixed.show {
  opacity: 1;
  transform: translateY(0);
}

header .top .gnb-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

header .top nav ul {
  display: flex;
  gap: 3vw;
  font-family: "DMSerif Display";
  font-style: italic;
  font-size: 1.3vw;
}
header .top nav ul li {
  cursor: pointer;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "playfair Display";
}
.main p:nth-child(1) {
  font-size: 6vw;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 25px;
  text-decoration-color: rgba(255, 255, 255, 0.5);
}
.main p:nth-child(2) {
  display: flex;
  justify-content: center;
  padding-top: 1vw;
  font-family: "playfair Display";
  font-size: 1vw;
  color: #d3d3d3;
}
.landing_line {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.landing_line .ibox {
  position: absolute;
  width: 70px;
  height: 70px;
  border-color: rgba(255, 255, 255, 0.4);
  border-style: solid;
}

.landing_line .ibox.tl {
  border-width: 1px 0 0 1px;
  top: -200px;
  left: -500px;
}

.landing_line .ibox.tr {
  border-width: 1px 1px 0 0;
  top: -200px;
  left: 400px;
}

.landing_line .ibox.bl {
  border-width: 0 0 1px 1px;
  bottom: -200px;
  left: -500px;
}

.landing_line .ibox.br {
  border-width: 0 1px 1px 0;
  bottom: -200px;
  right: -470px;
}
/*landing 끝*/

.section01 {
  width: 100vw;
  margin-left: calc(50% - 50vw); /* 화면 기준으로 왼쪽 끝에 붙이고 */
  margin-right: calc(50% - 50vw); /* 오른쪽도 맞춰줌 */
  background-color: #0f0f10;
  position: relative;
  display: flex;
}
.section01 .left-area {
  width: 25%;
  background-color: #17171a;
  padding: 60px 40px;
}

.section01 .tit {
  position: absolute;
  top: 0;
  left: 5vw;
  /* display: flex; */
  /* justify-content: flex-start; */
  color: #fff;
  font-family: "playfair Display";
  font-size: 3vw;
  padding-top: 3vw;
  letter-spacing: 2px;
}

/* 왼쪽 상단 */
.section01 .tit::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 3vw;
  width: 20px; /* 선 길이 */
  height: 20px;
  border-left: 1px solid;
  border-top: 3px solid;
}

/* 오른쪽 하단 */
.section01 .tit::after {
  content: "";
  position: absolute;
  left: 190px;
  bottom: -5px;
  width: 20px;
  height: 20px;
  border-right: 3px solid;
  border-bottom: 1px solid;
}
.section01 .img {
  border: 1px solid #fff;
  border-radius: 70%;
  width: 200px;
  height: 250px;
  position: absolute;
  top: 13vw;
  left: 7vw;
}

.section01 .info {
  display: flex;
  flex-direction: column;
  gap: 0.7vw;
  position: relative;
  top: 29vw;
  left: 3vw;
  font-size: 0.9vw;
  color: #fff;
  font-family: "NotoSerif";
}
.section01 .info .name,
.section01 .info .birth {
  display: flex;
  gap: 3vw;
  position: relative;
  top: -2vw;
}

.section01 .info .email,
.section01 .info .phone {
  display: flex;
  gap: 2.5vw;
  position: relative;
  top: -2vw;
}

.section01 .right-area {
  width: 65%;
  margin: 13vw;
  background-color: #0f0f10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 6vw 15vw;
}

/* 각 섹션(li) 기본 스타일 */
.section01 .right-area > ul {
  display: contents; /* <ul> 자체는 레이아웃 영향 제외 */
}

.section01 .right-area > ul > li {
  color: #fff;
}

/* 타이틀 스타일 */
.section01 .right-area .title {
  font-family: "playfair Display";
  font-size: 1.8vw;
  font-weight: 600;
  margin-bottom: 15px;
  display: inline-block;
  color: #ffffff;
  letter-spacing: 0.05vw;
  position: relative;
}
.section01 .right-area .title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 150%;
  border: 1px solid #5a5a5c;
}
.section01 .right-area .title::after 
/* 상세 텍스트 */
.section01 .right-area li ul li {
  font-family: "NotoSerif";
  font-size: 0.9vw;
  /* margin-bottom: 0.7vw; */
  color: #f5f5f5;
}
.section01 .right-area .words {
  display: flex;
  flex-wrap: wrap; /* 자동 줄바꿈 */
  gap: 1vw 1.2vw; /* 위아래, 좌우 간격 */
  max-width: 40vw; /* 3개만 들어가도록 폭 제한 */
}

.section01 .right-area .words li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3vw 1vw;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 0.8vw;
  font-family: "NotoSerif";
  white-space: nowrap; /* 텍스트 줄바꿈 X */
}

/* SKILLS 아이콘 정렬 */
.section01 .detail4 {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  gap: 2vw 3vw;
}
